.container {
    -fx-alignment: CENTER;
}

.cell {
    -fx-background-color: #212121, #424242;
    -fx-background-insets: 0, 1;
}

.blocker {
    -fx-fill: #212121;
}

.bomb,
.flag {
    -fx-opacity: 0.8;
}

.number {
    -fx-font-size: 22;
    -fx-font-weight: BOLD;
}

.zero {
    -fx-opacity: 0;
}

.one {
    -fx-text-fill: TURQUOISE;
}

.two {
    -fx-text-fill: GREEN;
}

.three {
    -fx-text-fill: RED;
    -fx-opacity: 0.8;
}

.four {
    -fx-text-fill: PINK;
}

.five {
    -fx-text-fill: BROWN;
}

.six {
    -fx-text-fill: CYAN;
}

.seven {
    -fx-text-fill: DARKGREY;
}

.eight {
    -fx-text-fill: LIGHTGREY;
}